body {
    font-family: Palatino, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FDEEDC
}

.container {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: Palatino, serif;
    text-align: center;
    margin-bottom: 2rem;
    color: #000000;
}

h3 {
    font-family: Palatino, serif;
    text-align: left;
    margin-bottom: 0rem;
    color: #000000cb;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label, input, button {
    font-size: 1.1rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #2d91ff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}
