<!--
    This is the template for the main page. It has a title and a form for the user query.
    The results are displayed in the results div.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Book Search Engine</title>
</head>
<body>
    <div class="container">
        <h1>Book Search Engine</h1>
        <form method="POST">
            <input type="text" name="query" placeholder="Enter a book title or author">
            <input type="submit" value="Search">
        </form>
        <div id="results">
            {% if results %}
                <h2>Results</h2>
                <ul>
                    {% for result in results %}
                        <li>{{ result.title }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>
