<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Book Search Engine</title>
</head>
<body>
    <div class="container">
        <h1>Book Search Engine</h1>
        <form method="POST">
            <input type="text" name="query" placeholder="Enter a book title or author">
            <input type="submit" value="Search">
        </form>
    <!-- gray hline here -->
    <hr>
    <!-- For each result show title on top, authors with a smaller font under the title
         a gray line is present between each result -->
    {% for result in results %}
        <div class="result">
            <span><strong>{{ result.title }}</strong> </span> <br>
            <span class="author">by {{ result.author }}</span>
            <hr>
        </div>
    {% endfor %}

    </div>
</body>

</html>
